@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
body {
  font-family: "Poppins", serif;
}
/* header part start */
#nav {
  height: 92px;
  background-color: #1c1e53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.nav_menu ul li:hover a {
  color: #fff;
}

.nav_menu ul li:last-child a {
  padding: 16px 48px;
  border: 4px solid rgba(244, 246, 252, 0.203);
  border-radius: 41px;
  margin-left: 16px;
}
/* header part end */

/* contact part start */
#contact {
  padding-top: 220px;
  padding-bottom: 128px;
}
.con_head {
  text-align: center;
  padding-bottom: 64px;
}
.con_head h1 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
}
.con_head p {
  width: 45%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.706);
}
.con_form {
  width: 90%;
  margin: 0 auto;
  background-color: #f4f6fc;
  border-radius: 12px;
}
.con_form form {
  padding: 55px 76px 69px 77px;
}
form .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 0;
  margin-bottom: 16px;
}
.main .body {
  width: 48%;
}
.body .item label {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.body .item input {
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #f4f6fc;
  margin-top: 6px;
  font-family: "Poppins", serif;
}
.con_form label {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.con_form textarea {
  margin-top: 6px;
  margin-bottom: 32px;
  width: 100%;
  height: 138px;
  border-radius: 8px;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #f4f6fc;
  font-family: "Poppins", serif;
}
.con_form button {
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", serif;
  color: #f4f6fc;
  background-color: #282938;
  padding: 16px 64px;
  border-radius: 41px;
}
/* contact part end */

/* footer body part start */
#footer_body {
  padding-top: 96px;
  background-color: #1c1e53;
}
.footer_body_main {
  display: flex;
  gap: 0 259px;
}

.fo_ma_left img {
  padding-top: 8px;
  padding-bottom: 24px;
}
.fo_ma_left p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.809);
}

.fo_ma_right h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 14px;
}
.fo_ma_right p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(244, 246, 252, 0.805);
  padding-bottom: 28px;
}
.fo_ma_right .fa-twitter {
  padding: 0 26px;
}
.fo_ma_right .fa-instagram {
  padding-right: 26px;
}
.footer_body_bottom {
  height: 95px;
  width: 517px;
  background-color: #fcd980;
  display: flex;
  gap: 0 29px;
  align-items: center;
}
.body_bottom_left {
  padding-left: 37px;
}
.footer_body_bottom h3 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 2px;
}
.footer_body_bottom p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.8);
}
/* footer body part end */

/* footer part start */
#footer {
  height: 92px;
}
.footer_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.footer_menu ul {
  display: flex;
  gap: 32px;
}
.footer_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
/* footer part end */
