@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
body {
  font-family: "Poppins", serif;
}
/* header part start */
#nav {
  height: 92px;
  background-color: #1c1e53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.nav_menu ul li:hover a {
  color: #fff;
}

.nav_menu ul li:last-child a {
  padding: 16px 48px;
  border: 4px solid rgba(244, 246, 252, 0.203);
  border-radius: 41px;
  margin-left: 16px;
}
/* header part end */

/* price part start */
#price {
  padding-top: 220px;
}
.price_head {
  text-align: center;
  padding-bottom: 64px;
}
.price_head h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
}
.price_head p {
  width: 45%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.704);
}
.price_body {
  display: flex;
  justify-content: space-between;
  gap: 0 32px;
}
.price_inner {
  width: 30%;
  padding: 64px 0 62px 48px;
  background-color: #f4f6fc;
  border-radius: 12px;
  transition: 0.5s;
  position: relative;
}

.price_item .price {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  gap: 0 8px;
}
.price_item .price h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  transition: 0.5s;
}
.price_item .price p {
  font-size: 16px;
  font-weight: normal;
  color: #2505f2;
  padding: 0;
  transition: 0.5s;
}
.price_item h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 8px;
  transition: 0.5s;
}
.price_item p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.704);
  transition: 0.5s;
  padding-bottom: 78px;
}
.price_item ul li {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  transition: 0.5s;
  color: #282938;
}
.price_item ul .gray_txt {
  font-size: 16px;
  font-weight: normal;
  transition: 0.5s;
  color: rgba(40, 41, 56, 0.702);
}
.price_item ul li i {
  padding-right: 12px;
}
.price_item a {
  margin-top: 59px;
  padding: 16px 78px;
  background-color: #282938;
  border-radius: 41px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", serif;
  transition: 0.5s;
  color: #f4f6fc;
}
.price_body .price_inner:nth-child(2) .price_item .price p {
  padding: 0;
}
.price_body .price_inner:nth-child(2) .price_item p {
  padding-bottom: 50px;
  padding-right: 30px;
}
.price_body .price_inner:last-child .price_item .price p {
  padding: 0;
  padding-left: 10px;
}
.price_body .price_inner:last-child .price_item p {
  padding-bottom: 44px;
}
.price_body .price_inner:last-child .price_item a {
  margin-top: 45px;
}
.price_body .price_inner:hover {
  background-color: #1c1e53;
}
.price_body .price_inner:hover .price_item .price h3 {
  color: #fff;
}
.price_body .price_inner:hover .price_item .price p {
  color: #fcd980;
}
.price_body .price_inner:hover .price_item h6 {
  color: #fff;
}
.price_body .price_inner:hover .price_item p {
  color: rgba(255, 255, 255, 0.708);
}
.price_body .price_inner:hover .price_item ul li {
  color: #fff;
}
.price_body .price_inner:hover .price_item a {
  color: #1c1e53;
  background-color: #fcd980;
}
.price_inner .circle_overlay {
  position: absolute;
  height: 1151px;
  width: 1151px;
  border-radius: 100%;
  top: -84%;
  left: -105%;
  opacity: 0.06;
  transition: 0.05s;
  transform: scale(0);
}
.price_body .price_inner:hover .circle_overlay {
  transform: scale(1);
  background-color: #ffffff;
}
/* price part end */

/* faq part start */
#faq {
  padding: 128px 0;
}
.faq_main {
  display: flex;
  justify-content: space-between;
}
.faq_left {
  width: 28%;
}
.faq_left h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
  padding-right: 10px;
}
.faq_left a {
  font-size: 18px;
  font-weight: 500;
  color: #2405f2;
}
.faq_right {
  width: 68%;
}
.faq_body {
  display: flex;
  padding: 32px 0;
  border-bottom: 2px solid #ececf1;
}
.faq_body h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
}
.faq_body:first-child {
  padding-top: 0;
}
.faq_body:last-child {
  border: none;
}
.faq_num {
  width: 10%;
  text-align: center;
}
.faq_num h6 {
  color: #2405f2;
}
.faq_text {
  width: 80%;
}
.faq_text p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.78);
  padding-top: 16px;
  padding-right: 50px;
}
.faq_last {
  width: 10%;
  text-align: end;
}
.faq_last .fa-x,
.fa-plus {
  color: rgba(40, 41, 56, 0.703);
}
/* faq part end */

/* footer body part start */
#footer_body {
  padding-top: 96px;
  background-color: #1c1e53;
}
.footer_body_main {
  display: flex;
  gap: 0 259px;
}

.fo_ma_left img {
  padding-top: 8px;
  padding-bottom: 24px;
}
.fo_ma_left p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.809);
}

.fo_ma_right h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 14px;
}
.fo_ma_right p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(244, 246, 252, 0.805);
  padding-bottom: 28px;
}
.fo_ma_right .fa-twitter {
  padding: 0 26px;
}
.fo_ma_right .fa-instagram {
  padding-right: 26px;
}
.footer_body_bottom {
  height: 95px;
  width: 517px;
  background-color: #fcd980;
  display: flex;
  gap: 0 29px;
  align-items: center;
}
.body_bottom_left {
  padding-left: 37px;
}
.footer_body_bottom h3 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 2px;
}
.footer_body_bottom p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.8);
}
/* footer body part end */

/* footer part start */
#footer {
  height: 92px;
}
.footer_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.footer_menu ul {
  display: flex;
  gap: 32px;
}
.footer_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
/* footer part end */
