@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
body {
  font-family: "Poppins", serif;
}
/* header part start */
#nav {
  height: 92px;
  background-color: #1c1e53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.nav_menu ul li:hover a {
  color: #fff;
}

.nav_menu ul li:last-child a {
  padding: 16px 48px;
  border: 4px solid rgba(244, 246, 252, 0.203);
  border-radius: 41px;
  margin-left: 16px;
}
/* header part end */

/* banner part start */
#banner {
  padding-bottom: 128px;
  padding-top: 220px;
  background-color: #1c1e53;
}
.banner_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.banner_txt {
  width: 48%;
}
.banner_txt h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  padding-bottom: 24px;
  color: #fff;
}
.banner_txt p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.702);
  line-height: 28px;
  padding-bottom: 48px;
}
.banner_txt .view {
  display: flex;
  align-items: center;
  gap: 40px;
}
.view .view_work a {
  padding: 16px 56px;
  background-color: #fcd980;
  border-radius: 41px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", serif;
  color: #1b1c2b;
}
.view .view_price a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.view .view_price img {
  padding-left: 16px;
}
.banner_img {
  width: 48%;
}
.banner_img img {
  width: 100%;
}
/* banner part end */

/* work part start */
#work {
  padding: 128px 0;
  background-color: #f4f6fc;
}
.work_main {
  display: flex;
  justify-content: space-between;
}
.work_left {
  width: 40%;
}
.work_left h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
}
.work_left p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.708);
  text-align: justify;
  padding-right: 157px;
  padding-bottom: 16px;
}
.work_left .get_touch a {
  font-size: 18px;
  font-weight: 500;
  color: #2405f2;
}
.work_left .get_touch img {
  padding-left: 13px;
}
.work_right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 0;
}
.body_inner {
  width: 50%;
}

.body_item img {
  width: 50px;
  padding-bottom: 16px;
}
.body_item h5 {
  font-size: 32px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 8px;
}
.body_item p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(27, 28, 43, 0.709);
  padding-right: 50px;
}

/* work part end */

/* project part start */
#project {
  padding: 128px 0;
  background: #fff;
}
.project_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.project_head h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
}
.project_head .view_more a {
  font-size: 16px;
  font-weight: 600;
  color: #282938;
}
.project_head .view_more img {
  padding-left: 16px;
}
.project_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_main_left {
  width: 66%;
  position: relative;
}
.project_main_left .card1_overlay {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  transition: 0.5s;
}
.project_main_left:hover .card1_overlay {
  width: 100%;
}
.project_main_left:hover .card1_overlay h3 {
  padding-right: 400px;
}
.project_main_left:hover .card1_overlay p {
  padding-right: 450px;
}
.card1_overlay .card1_inner {
  padding: 312px 35px 76px 48px;
}
.card1_overlay .card1_inner h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 16px;
  transition: 0.5s;
}
.card1_overlay .card1_inner p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.801);
  padding-right: 30px;
  padding-bottom: 40px;
  transition: 0.5s;
}
.card1_overlay .card1_inner a {
  font-size: 16px;
  font-weight: 500;
  color: #fcd980;
}
.card1_overlay .card1_inner img {
  padding-left: 16px;
}
.project_main_right {
  width: 32.5%;
}
.project_main_right .card2 {
  position: relative;
}
.project_main_right .card2 .card2_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  transition: 0.5s;
  opacity: 0;
}
.project_main_right .card2:hover .card2_overlay {
  opacity: 1;
}
.card2_overlay .card2_inner {
  padding: 129px 36px 45px 56px;
}
.card2_overlay .card2_inner h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
  padding-right: 30px;
}
.card2_overlay .card2_inner a {
  font-size: 16px;
  font-weight: 500;
  color: #fcd980;
}
.card2_overlay .card2_inner img {
  padding-left: 16px;
}
.project_main_right .card3 {
  margin-top: 32px;
  margin-left: 9px;
  position: relative;
}

.project_main_right .card3 .card3_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  transition: 0.5s;
  opacity: 0;
}
.project_main_right .card3:hover .card3_overlay {
  opacity: 1;
}
.card3_overlay .card3_inner {
  padding: 129px 36px 45px 56px;
}
.card3_overlay .card3_inner h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
  padding-right: 30px;
}
.card3_overlay .card3_inner a {
  font-size: 16px;
  font-weight: 500;
  color: #fcd980;
}
.card3_overlay .card3_inner img {
  padding-left: 16px;
}
.card2 .card2_img img {
  width: 100%;
}
.card3 .card3_img img {
  width: 100%;
}
.card1 img {
  width: 100%;
}
/* project part end */

/* feature part start */
#feature {
  padding: 128px 0;
  background-color: #f4f6fc;
}
.feature_head {
  text-align: center;
  padding-bottom: 47px;
}
.feature_head p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 12px;
}
.feature_head h2 {
  width: 630px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
}
.feature_main {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.feature_body {
  width: 25%;
  background-color: #fff;
  padding: 58px 30px 48px 48px;
}

.feature_item img {
  padding-bottom: 22px;
}
.feature_item h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 12px;
}
.feature_item p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.708);
  padding-right: 8px;
}
/* feature part end */

/* testimonials part start */
#testimonials {
  padding: 128px 0;
  background-color: rgba(244, 246, 252, 0.5);
}
.test_main {
  display: flex;
  justify-content: space-between;
}
.test_left {
  width: 28%;
}
.test_left h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
}
.test_left p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.701);
}
.test_right {
  width: 65%;
}
.test_right h5 {
  font-size: 32px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 48px;
}
.test_inner {
  display: flex;
  justify-content: space-between;
}
.test_inner .profile {
  display: flex;
  gap: 0 14px;
}
.profile .pro_text h5 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding: 0;
}
.profile .pro_text h6 {
  font-size: 12px;
  font-weight: 500;
  color: #282938;
}
.test_inner .btns {
  display: flex;
  gap: 0 10px;
}
.btns a {
  height: 48px;
  width: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
}
.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(40, 41, 56, 0.605);
}
.fa-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(40, 41, 56, 0.605);
}
.btns a:hover {
  background-color: #5239fa;
}
.btns a:hover .fa-chevron-left {
  color: #fff;
}
.btns a:hover .fa-chevron-right {
  color: #fff;
}
/* .btn_left {
  height: 48px;
  width: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
}
.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(40, 41, 56, 0.605);
}
.test_inner .btn_left:hover {
  background-color: #5239fa;
}
.test_inner .btn_left:hover .fa-chevron-left {
  color: #fff;
}
.btn_right {
  height: 48px;
  width: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
}
.fa-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(40, 41, 56, 0.605);
}
.test_inner .btn_right:hover {
  background-color: #5239fa;
}
.test_inner .btn_right:hover .fa-chevron-right {
  color: #fff;
} */

/* testimonials part end */

/* faq part start */
#faq {
  padding: 128px 0;
}
.faq_main {
  display: flex;
  justify-content: space-between;
}
.faq_left {
  width: 28%;
}
.faq_left h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 16px;
  padding-right: 10px;
}
.faq_left a {
  font-size: 18px;
  font-weight: 500;
  color: #2405f2;
}
.faq_right {
  width: 68%;
}
.faq_body {
  display: flex;
  padding: 32px 0;
  border-bottom: 2px solid #ececf1;
}
.faq_body h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
}
.faq_body:first-child {
  padding-top: 0;
}
.faq_body:last-child {
  border: none;
}
.faq_num {
  width: 10%;
  text-align: center;
}
.faq_num h6 {
  color: #2405f2;
}
.faq_text {
  width: 80%;
}
.faq_text p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.78);
  padding-top: 16px;
  padding-right: 50px;
}
.faq_last {
  width: 10%;
  text-align: end;
}
.faq_last .fa-x,
.fa-plus {
  color: rgba(40, 41, 56, 0.703);
}
/* faq part end */

/* form part start */
#form {
  padding-bottom: 128px;
}
.form_main {
  width: 100%;
  background-color: #1c1e53;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_img {
  width: 50%;
  position: relative;
}
.form_img img {
  width: 100%;
  opacity: 50%;
}
.form_img .form_img_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding: 96px 96px 0 96px;
}
.form_img .form_img_txt h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 24px;
}
.form_img .form_img_txt p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.form_input {
  width: 50%;
}
.input_item {
  padding: 0 96px 0 96px;
}
.input_item h5 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 16px;
}
.input_item p {
  font-size: 16px;
  font-weight: 500;
  color: #f4f6fc;
  padding-bottom: 24px;
}
.input_item input {
  width: 100%;
  padding: 18px 32px;
  background-color: #1c1e53;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.052);
  margin: 16px 0;
  font-size: 16px;
  font-weight: normal;
  color: #f4f6fc;
}
.input_item button {
  padding: 16px 0;
  width: 100%;
  border-radius: 41px;
  background-color: #fcd980;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", serif;
  color: #1b1c2b;
  margin-top: 23px;
}
.input_item .get_touch {
  text-align: center;
  padding-top: 28px;
}
.input_item .get_touch a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.input_item .get_touch img {
  padding-left: 12px;
}
/* form part end */

/* blog part start */
#blog {
  padding-bottom: 128px;
}
.blog_head h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 64px;
}
.blog_main {
  display: flex;
  gap: 0 32px;
}
.blog_body {
  width: 33%;
}
.blog_item img {
  padding-bottom: 40px;
}
.blog_item span {
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.703);
}
.blog_item h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  padding: 16px 0;
}
.blog_item p {
  font-size: 15px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.703);
  padding-bottom: 32px;
  padding-right: 10px;
}
.blog_item .read_more a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.blog_item .read_more img {
  padding-left: 12px;
  padding-bottom: 0;
}
/* blog part end */

/* footer body part start */
#footer_body {
  padding-top: 96px;
  background-color: #1c1e53;
}
.footer_body_main {
  display: flex;
  gap: 0 259px;
}

.fo_ma_left img {
  padding-top: 8px;
  padding-bottom: 24px;
}
.fo_ma_left p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.809);
}

.fo_ma_right h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 14px;
}
.fo_ma_right p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(244, 246, 252, 0.805);
  padding-bottom: 28px;
}
.fo_ma_right .fa-twitter {
  padding: 0 26px;
}
.fo_ma_right .fa-instagram {
  padding-right: 26px;
}
.footer_body_bottom {
  height: 95px;
  width: 517px;
  background-color: #fcd980;
  display: flex;
  gap: 0 29px;
  align-items: center;
}
.body_bottom_left {
  padding-left: 37px;
}
.footer_body_bottom h3 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 2px;
}
.footer_body_bottom p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.8);
}
/* footer body part end */

/* footer part start */
#footer {
  height: 92px;
}
.footer_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.footer_menu ul {
  display: flex;
  gap: 32px;
}
.footer_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
/* footer part end */
