@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
body {
  font-family: "Poppins", serif;
}
/* header part start */
#nav {
  height: 92px;
  background-color: #1c1e53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.nav_menu ul li:hover a {
  color: #fff;
}

.nav_menu ul li:last-child a {
  padding: 16px 48px;
  border: 4px solid rgba(244, 246, 252, 0.203);
  border-radius: 41px;
  margin-left: 16px;
}
/* header part end */

/* work  part start */
#work {
  padding-top: 220px;
  padding-bottom: 128px;
  background-color: #f4f6fc;
}
.work {
  text-align: center;
}
.work h6 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.706);
  padding-bottom: 4px;
}
.work h1 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 24px;
}
.work p {
  width: 61%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.706);
  padding-bottom: 32px;
}
.work .fa-twitter {
  padding: 0 28px;
}
.work .fa-instagram {
  padding-right: 28px;
}
/* work  part end */

/* main work part start */
#work_main {
  padding: 128px 0;
}
.work_main_head {
  padding-bottom: 48px;
}
.work_main_head ul {
  display: flex;
  gap: 0 32px;
  justify-content: center;
}
.work_main_head ul li a {
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.706);
}
.work_main_head ul li:hover a {
  color: #2405f2;
}
.work_main_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px 0;
}
.main_body_inner {
  width: 48%;
}
.main_body_item {
  width: 100%;
}
.main_body_item .border {
  position: relative;
  height: 380px;
  width: 100%;
  background: linear-gradient(145deg, #f4ede1, #98b1c6);
}
.main_body_inner:nth-child(2) .border {
  background: linear-gradient(145deg, #ffd3af, #4f56ff);
}
.main_body_inner:nth-child(3) .border {
  background: linear-gradient(145deg, #eebca7, #c8c8c8);
}
.main_body_inner:nth-child(4) .border {
  background: linear-gradient(145deg, #c2e7f2, #98a4ff);
}
.main_body_inner:nth-child(5) .border {
  background: linear-gradient(145deg, #c5bcff, #9bf6d5);
}
.main_body_inner:last-child .border {
  background: linear-gradient(145deg, #d2d6fd, #d6acea);
}
.border img {
  height: 85%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_body_item h3 {
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 38px;
  font-weight: 600;
  color: #282938;
}
.main_body_item p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.703);
  padding-bottom: 24px;
}
.main_body_item a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.main_body_item a img {
  padding-left: 16px;
}

/* main work part end */

/* cta part start */
#cta {
  padding-bottom: 128px;
}
.cta_main {
  text-align: center;
}
.cta_main h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  padding-bottom: 20px;
  width: 65%;
  margin: 0 auto;
}
.cta_main p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56, 0.709);
  width: 48%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.cta_main a {
  padding: 16px 66px;
  background-color: #fcd980;
  border-radius: 41px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", serif;
  color: #1b1c2b;
}
/* cta part end */

/* footer body part start */
#footer_body {
  padding-top: 96px;
  background-color: #1c1e53;
}
.footer_body_main {
  display: flex;
  gap: 0 259px;
}

.fo_ma_left img {
  padding-top: 8px;
  padding-bottom: 24px;
}
.fo_ma_left p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.809);
}

.fo_ma_right h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 14px;
}
.fo_ma_right p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(244, 246, 252, 0.805);
  padding-bottom: 28px;
}
.fo_ma_right .fa-twitter {
  padding: 0 26px;
}
.fo_ma_right .fa-instagram {
  padding-right: 26px;
}
.footer_body_bottom {
  height: 95px;
  width: 517px;
  background-color: #fcd980;
  display: flex;
  gap: 0 29px;
  align-items: center;
}
.body_bottom_left {
  padding-left: 37px;
}
.footer_body_bottom h3 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding-bottom: 2px;
}
.footer_body_bottom p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(40, 41, 56, 0.8);
}
/* footer body part end */

/* footer part start */
#footer {
  height: 92px;
}
.footer_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.footer_menu ul {
  display: flex;
  gap: 32px;
}
.footer_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
/* footer part end */
